.header-wrap {
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 2%;
        background-color: #9dc8c8;
        border-radius: 6px;

        .home {
            text-decoration: none;
            font-size: 24px;
            color: #519d9e;
        }

        .menu-2 {
            display: flex;
            justify-content: space-between;
            width: 20%;
            .project {
                text-decoration: none;
                font-size: 24px;
                color: #519d9e;
            }

            .contact {
                text-decoration: none;
                font-size: 24px;
                color: #519d9e;
            }
        }
    }
}

#home {
    .me {
        display: flex;
        .image {
            width: 100%;
            padding: 2%;

            img {
                width: 100%;
                border-radius: 5%;
            }
        }

        .about-me {
            .me-2 {
                font-size: 16px;

                .thanx {
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }

    .competencies {
        ul {
            li {
                display: flex;
                margin-left: 4%;
                line-height: 36px;

                .text {
                    width: 400px;
                    text-align: center;
                }

                img {
                    width: 2%;
                    margin-right: 2%;
                }

                .star {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 1%;
                        &:nth-child(1) {
                            margin-left: 2%;
                        }
                    }
                }
            }
        }
    }

    .certificate {
        ul {
            li {
                list-style: circle;
                margin-left: 4%;
                line-height: 36px;

                a {
                    text-decoration: none;
                    color: black;
                }

                .teacher {
                    color: #519d9e;
                }
            }
        }
    }

    .work-history {
        ul {
            li {
                list-style: circle;
                margin-left: 4%;
                line-height: 36px;

                .date {
                    font-weight: 700;
                }

                .title {
                    color: #519d9e;
                }
            }
        }
    }
}

#about-me {
    .projects {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        .card {
            text-align: center;
            width: 24.6%;
            margin: 2%;
            padding: 0 2% 2% 2%;
            border: 3px solid gainsboro;
            border-radius: 6px;

            .project-name {
                color: #519d9e;
            }

            .go-project {
                padding: 2% 2% 0 2%;
                margin-top: 5%;
                a {
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
    }
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;

    .social-media {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            text-align: center;

            img {
                width: 30%;
            }
        }

        .text {
            font-size: 20px;
            text-align: center;
            padding: 2%;
            color: #519d9e;
        }
    }
}

@media screen and (max-width: 900px) {
    .header-wrap {
        .menu {
            .menu-2 {
                width: 30%;
            }
        }
    }

    #home {
        .me {
            .image {
                width: 120%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header-wrap {
        .menu {
            .menu-2 {
                width: 50%;
            }
        }
    }

    #home {
        .me {
            display: block;
            padding: 2%;
            .image {
                width: 100%;
                padding: 0;
            }
        }
    }

    .competencies {
        ul {
            li {
                img {
                    width: 10% !important;
                }
                .star {
                    width: 250px;
                    img {
                        margin-right: 1%;
                        width: 20px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header-wrap {
        .menu {
            .menu-2 {
                display: flex;
                width: 63%;
            }
        }
    }
    #home {
        .me {
            .image {
                width: 100%;
            }
        }
    }

    .competencies {
        ul {
            li {
                .star {
                    img {
                        width: 15px !important;
                    }
                }
            }
        }
    }
}
