.header-wrap .menu {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #9dc8c8;
  border-radius: 6px;
}
.header-wrap .menu .home {
  text-decoration: none;
  font-size: 24px;
  color: #519d9e;
}
.header-wrap .menu .menu-2 {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.header-wrap .menu .menu-2 .project {
  text-decoration: none;
  font-size: 24px;
  color: #519d9e;
}
.header-wrap .menu .menu-2 .contact {
  text-decoration: none;
  font-size: 24px;
  color: #519d9e;
}

#home .me {
  display: flex;
}
#home .me .image {
  width: 100%;
  padding: 2%;
}
#home .me .image img {
  width: 100%;
  border-radius: 5%;
}
#home .me .about-me .me-2 {
  font-size: 16px;
}
#home .me .about-me .me-2 .thanx {
  font-weight: 600;
  font-size: 20px;
}
#home .competencies ul li {
  display: flex;
  margin-left: 4%;
  line-height: 36px;
}
#home .competencies ul li .text {
  width: 400px;
  text-align: center;
}
#home .competencies ul li img {
  width: 2%;
  margin-right: 2%;
}
#home .competencies ul li .star {
  display: flex;
  align-items: center;
}
#home .competencies ul li .star img {
  margin-right: 1%;
}
#home .competencies ul li .star img:nth-child(1) {
  margin-left: 2%;
}
#home .certificate ul li {
  list-style: circle;
  margin-left: 4%;
  line-height: 36px;
}
#home .certificate ul li a {
  text-decoration: none;
  color: black;
}
#home .certificate ul li .teacher {
  color: #519d9e;
}
#home .work-history ul li {
  list-style: circle;
  margin-left: 4%;
  line-height: 36px;
}
#home .work-history ul li .date {
  font-weight: 700;
}
#home .work-history ul li .title {
  color: #519d9e;
}

#about-me .projects {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#about-me .projects .card {
  text-align: center;
  width: 24.6%;
  margin: 2%;
  padding: 0 2% 2% 2%;
  border: 3px solid gainsboro;
  border-radius: 6px;
}
#about-me .projects .card .project-name {
  color: #519d9e;
}
#about-me .projects .card .go-project {
  padding: 2% 2% 0 2%;
  margin-top: 5%;
}
#about-me .projects .card .go-project a {
  text-decoration: none;
  font-size: 20px;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
}
#contact .social-media {
  display: flex;
  flex-direction: column;
}
#contact .social-media a {
  text-decoration: none;
  text-align: center;
}
#contact .social-media a img {
  width: 30%;
}
#contact .social-media .text {
  font-size: 20px;
  text-align: center;
  padding: 2%;
  color: #519d9e;
}

@media screen and (max-width: 900px) {
  .header-wrap .menu .menu-2 {
    width: 30%;
  }
  #home .me .image {
    width: 120%;
  }
}
@media screen and (max-width: 500px) {
  .header-wrap .menu .menu-2 {
    width: 50%;
  }
  #home .me {
    display: block;
    padding: 2%;
  }
  #home .me .image {
    width: 100%;
    padding: 0;
  }
  .competencies ul li img {
    width: 10% !important;
  }
  .competencies ul li .star {
    width: 250px;
  }
  .competencies ul li .star img {
    margin-right: 1%;
    width: 20px !important;
  }
}
@media screen and (max-width: 500px) {
  .header-wrap .menu .menu-2 {
    display: flex;
    width: 63%;
  }
  #home .me .image {
    width: 100%;
  }
  .competencies ul li .star img {
    width: 15px !important;
  }
}/*# sourceMappingURL=style.css.map */